@charset "UTF-8";
/* CSS reset */
/* 載入字型 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.navbar {
  margin: 0 auto;
  display: grid;
  width: 100%;
  height: 60px;
  grid-template-columns: 0px 50px 50px 1fr 100px;
  grid-auto-flow: row;
  padding: 5px;
}
.navbar .nav-search-bar {
  margin: auto 0;
}
.navbar .navbar-brand {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.navbar .navbar-brand .logo {
  width: 2em;
  height: 2em;
}
.navbar .navbar-brand .logo-title {
  color: rgb(8, 6, 86);
  white-space: nowrap;
}
.navbar .nav-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navbar .icon {
  color: rgb(8, 6, 86);
  font-size: 2em;
}
.navbar .searchbar {
  display: none;
}
.navbar .navbar-toggle {
  visibility: hidden;
  position: absolute;
}
.navbar .nav-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.navbar .nav-item {
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 2px;
  opacity: 0;
}
.navbar .nav-item a {
  display: block;
  width: 100%;
  color: rgb(8, 6, 86);
  text-align: center;
}
.navbar .navbar-toggle:checked ~ .nav-list .nav-item {
  transition: opacity 0.2s ease-out 0.15s;
  opacity: 1;
}
.navbar .nav-list-toggle {
  display: flex;
  align-items: center;
}
.navbar .hamburger {
  position: relative;
}
.navbar .hamburger,
.navbar .hamburger::before,
.navbar .hamburger::after {
  display: block;
  width: 30px;
  height: 1px;
  background-color: rgb(8, 6, 86);
}
.navbar .hamburger::before,
.navbar .hamburger::after {
  position: absolute;
  left: 0;
  content: "";
}
.navbar .hamburger::before {
  top: 8px;
}
.navbar .hamburger::after {
  bottom: 8px;
}

.category {
  text-align: center;
  margin-top: 100px;
  color: rgb(8, 6, 86);
}
.category .dropdown {
  display: flex;
  margin: 20px;
  gap: 1.5rem;
  justify-content: center;
}
.category select {
  width: 15rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.main {
  width: 90%;
  margin: 0 auto;
  color: rgb(8, 6, 86);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.cards .card .tshirt-img {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.cards .card .tshirt-img .cover-img,
.cards .card .tshirt-img .real-img {
  display: block;
  width: 100%;
  /*   維持 1:1 讓照片保持正方形 */
  aspect-ratio: 1/1;
}
.cards .card .tshirt-img .cover-img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.cards .card .tshirt-img .real-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  /* 讓照片不變形 */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: opacity 0.2s ease out;
  opacity: 0;
}
.cards .card .tshirt-img .real-img:hover {
  opacity: 1;
}
.cards .card .tshirt-img .add-to-favorite {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #fff;
  border: 2px transparent;
}
.cards .card .card-description {
  font-size: 1rem;
}
.cards .card .card-price {
  font-weight: 700;
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.item05 .card-price,
.item11 .card-price {
  position: relative;
}

.item05 .card-price::before,
.item11 .card-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.item05 .card-price::after,
.item11 .card-price::after {
  content: "Sold out";
  position: absolute;
  top: 0%;
  left: -100%;
}

.pagination {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-image: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/14376/template.png);
  background-position: center;
}
.newsletter .newsletter-title {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.newsletter .input-group input {
  border-radius: 50px;
  border: transparent;
  padding: 20px;
}
.newsletter .input-group .newsletter-email {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.newsletter .input-group .newsletter-signup {
  background-color: black;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  text-align: center;
  background-color: #e0e0e0;
}

@media screen and (min-width: 768px) {
  .navbar {
    all: unset;
    display: grid;
    grid-template-columns: 0px 0px 1.5fr 3fr 75px 150px;
  }
  .navbar .navbar-brand {
    order: 1;
    margin: auto 0;
    font-size: 2rem;
  }
  .navbar .navbar-brand h4 {
    padding: 5px;
    font-size: 2rem;
  }
  .navbar .nav-list {
    all: unset;
    display: flex;
    order: 2;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar .nav-item {
    all: unset;
    opacity: 1;
    font-size: 2rem;
    padding-left: 50px;
  }
  .navbar .nav-list-toggle {
    display: none;
  }
  .navbar .nav-search-bar {
    display: grid;
    order: 3;
    justify-content: end;
    cursor: pointer;
  }
  .navbar .nav-icon {
    order: 4;
  }
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .newsletter {
    margin: 0 50px;
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */